<!-- templates/sandbox/simple.jinja -->
{% extends "layout.jinja" %}

{% block header %}
<h1 class="display-4">Patients</h1>
{% endblock header %}

{% block datatable_scripts %}
<script type="text/javascript">
  $(document).ready( function() {
    axios.get('{{ url_for('api.patient_get', patient_id=patient_id) }}', {
    })
      .then(function (response) {
      console.log(response);
    })
    .catch(function (error) {
      console.log(error);
    });
  });
</script>
{% endblock datatable_scripts %}
