<!-- templates/ajax/username.jinja -->
{% extends "layout.jinja" %}

{% block title %}
Ajax
{% endblock title %}


{% block header %}
<h1>User</h1>
{% endblock header %}

{% block content %}
<form action="{{ url_for('ajax.username') }}" method="post" id ="form-ajax">

  <fieldset form="form-ajax">
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}<br>
      {% for error in form.username.errors %}
          <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>

    {{ form.submit() }}

  </fieldset>
</form>

</br>
  <div id="output"></div>
</br>

<p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>

{% endblock content %}

{% block datatable_scripts %}
<script type="text/javascript">
  $('#form_patient').submit(function(e) {
    e.preventDefault();
      var data = {};
      var Form = this;
        $.each(this.elements, function(i, v) {
          var input = $(v);
          console.log(input);
          data[input.attr("name")] = input.val();
          console.log(data);
          delete data["undefined"];
        });

      $.ajax({
        type: 'POST',
          url: '{{ url_for('ajax.patient_post') }}',
          dataType: 'json',
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify(data),
          context: Form,
          success: function(callback) {
            console.log(callback);
            // Watch out for Cross Site Scripting security issues when setting dynamic content!
            $(this).text('Hello ' + callback.first_name + ' ' + callback.last_name  + '!');
          },
            error: function() {
              $(this).html("error!");
            }
      });
  });
</script>
{% endblock datatable_scripts %}
