<!-- templates/auth/secret.jinja -->
{% extends "layout.jinja" %}

{% block title %}
Secret Page
{% endblock title %}

{% block header %}
<h1>It's a secret to everyone</h1>
{% endblock header %}

{% block content %}
<p>Secret Page Reached!</p>
{% endblock content %}
