<!-- templates/demographics/patient_details.jinja -->
{% extends "layout.jinja" %}

{% block title %}
Patient Details
{% endblock title %}

{% block header %}
<h1>Patient Details</h1>
{% endblock header %}

{% block content %}

<div id="toolbar"></div>

<table id="table"
  class="table table-bordered table-hover table-striped"
  data-show-fullscreen="true"
  data-show-refresh="true
  data-id-field="id"
  data-toggle="table"
  data-toolbar=".toolbar"
  data-editable="true"
  style="width:100%">
</table>

{% endblock %}

{% block datatable_scripts %}
<script type="text/javascript">
console.log('Start of Page');
var $table = $('#table');

function initTable() {
  $table.bootstrapTable('destroy').bootstrapTable({
    columns: [{
      field: 'id',
      title: 'ID',
      align: "center",
      valign: "middle",
      formatter: function (value, row, index) {
        return index + 1;
      }
    }, {
      field: 'name_first',
      title: 'First Name'
    }, {
      field: 'name_preferred',
      title: 'Preferred Name'
    }, {
      field: 'name_middle',
      title: 'Middle Name'
    }, {
      field: 'name_last',
      title: 'Last Name'
    }, {
      field: 'date_of_birth',
      title: 'Date of Birth'
    }]
  })
};

$(function() {
  initTable();
});

$(document).ready( function() {
  axios.get('{{ url_for('api.patients', patient_id=patient_id) }}', {
  })
    .then(function (response) {
    console.log(response);
    myData = response.data.data; // data is the `key` for the patient record
    console.log(myData); //debug info; remove
    $table.bootstrapTable('load', myData);
  })
  .catch(function (error) {
    console.log(error);
  });
});

</script>
{% endblock datatable_scripts %}
