<!-- templates/demographics/patient_details.jinja -->
{% extends "layout.jinja" %}

{% block title %}
Patient Details
{% endblock title %}

{% block header %}
<h1>Patient Details</h1>
{% endblock header %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card" style="width: 18rem;">
      <h5 class="card-header">Patient</h5>
        <div class=card-body>
        <h5 class="card-title">Patient: </h5>

        </div> <!-- card-body -->
      </div> <!-- card -->
  </div> <!-- column -->
</div> <!-- row -->
{% endblock content %}
